<div class="container">
  <div>
  <nav class="navbar fixed-top navbar-light bg-dark">
   
    <div class="card-body text-white toolColor">
      <div class="header_logo ">
        <span style="float:left;">
          <span class="blue"> F </span>
          <span class="red"> U </span>
          <span class="yellow"> N </span>
          <span class="blue"> D </span>
          <span class="green"> O </span>
          <span class="red"> O </span>
        </span> &nbsp;&nbsp;
    
        <span class="welcome">Welcomes Administrator</span>
        <div style="float:right">
          <button id="home" type="button" class=" btn btn-success">home</button>
          <span style="padding-right:20px;"></span>
          <button id="logout" type="button" class="btn btn-danger">Logout</button>
        </div>
    
      </div>
    </div>
     
    <!-- LOGO Ends -->
  </nav>
</div>
 
  <div class="card3">
      <table id="users_list" class="table table-bordered table-dark" >
        <thead>
          <tr class="table_headings">
            <th scope="col">Sl.No </th>
            <th scope="col">Question</th>
            <th scope="col">accept</th>
            <th scope="col">reject</th>
          </tr>
        </thead>

      </table>
   </div>
  


 
  
  </div>

  