<div class="container">
  <nav class="navbar fixed-top navbar-light bg-dark">
    <!-- LOGO starts -->
    <!-- <div class="row">
      <div class="header_logo ">
        <p>
          <span class="blue"> F </span>
          <span class="red"> U </span>
          <span class="yellow"> N </span>
          <span class="blue"> D </span>
          <span class="green"> O </span>
          <span class="red"> O </span>
          <span class="admin"> Welcomes Administrator</span>
          <span class="logout_btn"> <button id="logout" type="button" class="btn btn-danger">Logout</button> </span>

        </p>

      </div>
    </div> -->
    
      <div class="card-body text-white toolColor" >
      <div  class="header_logo ">
        <span style="float:left;">
        <span class="blue"> F </span>
        <span class="red"> U </span>
        <span class="yellow"> N </span>
        <span class="blue"> D </span>
        <span class="green"> O </span>
        <span class="red"> O </span>
        </span>  &nbsp;&nbsp;
        
        <span class="welcome">Welcomes Administrator</span>
        <span style="float:right">
        <button id="logout" type="button" class="btn btn-danger">Logout</button>
      </span>
      </div>
      </div>
     
    <!-- LOGO Ends -->
  </nav>
  


  <!-- HEADER starts -->
  <div class="container">
    <div>
      <div class="card-deck">
        <div class="main_card">
          <div class="card-body">
            <p class="basic_text text-center">SERVICES</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- HEADER Ends -->

  <br>

  <!-- CONTAINER CARDS starts -->
  <div class="row">
    <div class="col-xs-0 col-sm-1 col-md-2 col-lg-3"></div>
    <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6">
      <div id="services" class="row" style="text-align:center"></div>
    </div>

    <div class="col-xs-0 col-sm-1 col-md-2 col-lg-3"></div>
  </div>
  <!-- CONTAINER CARDS Ends -->
  <br>



  <!-- TABLE starts -->
 
   <div class="card3">
      <table id="users_list" class="table table-bordered table-dark" >
        <thead>
          <tr class="table_headings">
            <th scope="col">Sl.No </th>
            <th scope="col">First Name</th>
            <th scope="col">Last name</th>
            <th scope="col">Email-Id</th>
            <th scope="col">Service</th>
            <th scop="col"> For More Details </th>
          </tr>
        </thead>

      </table>

      <!-- TABLE starts -->


   </div>
 

  <!-- Modal-->
  <div id="modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class=modal-content>
        <div class="modal-header">
          <h3 class="modal-title" id="head_name" > </h3>
        </div>
        <div class="model-body">
            <div id="content1"></div>
            <div id="content2"></div>
            <div id="content3"></div>
            <div id="content4"></div>
            <div id="content5"></div>
            <div id="content6"></div>
            <div id="content7"></div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  